div.container {
    width:350px;
    border:1px solid gray;
    box-shadow:1px 1px 3px #888;
    min-height:250px;
    padding:10px;
    margin:10px;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}